In [2]:
import pandas as pd
import numpy as np

In [3]:
heroes = pd.read_csv('https://stepik.org/media/attachments/course/4852/dota_hero_stats.csv')

In [4]:
heroes

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"
...,...,...,...,...,...,...,...,...
112,112,Melee,114,2,Monkey King,npc_dota_hero_monkey_king,agi,"['Carry', 'Escape', 'Disabler', 'Initiator']"
113,113,Ranged,119,2,Dark Willow,npc_dota_hero_dark_willow,int,"['Support', 'Nuker', 'Disabler', 'Escape']"
114,114,Melee,120,2,Pangolier,npc_dota_hero_pangolier,agi,"['Carry', 'Nuker', 'Disabler', 'Durable', 'Esc..."
115,115,Ranged,121,2,Grimstroke,npc_dota_hero_grimstroke,int,"['Support', 'Nuker', 'Disabler', 'Escape']"
116,116,Melee,129,2,Mars,npc_dota_hero_mars,str,"['Carry', 'Initiator', 'Disabler', 'Durable']"

In [10]:
#1. Пересчитаем число ног у героев игры Dota2! Сгруппируйте героев из датасэта по числу их ног (колонка legs), и заполните их число в задании ниже.
heroes.groupby('legs', as_index=False).aggregate({'legs' : 'count'})

   legs
0    11
1    95
2     7
3     3
4     1

In [53]:
#2. Сгруппируйте по колонкам attack_type и primary_attr и выберите самый распространённый набор характеристик.
heroes.groupby(['attack_type', 'primary_attr'], as_index=False).aggregate({'id' : 'count'}).sort_values(['id'], ascending=False)

  attack_type primary_attr  id
4      Ranged          int  40
2       Melee          str  35
0       Melee          agi  19
3      Ranged          agi  18
5      Ranged          str   3
1       Melee          int   2