In [1]:
import pandas as pd
import numpy as np

In [6]:
#Создание серии (одноразмерного массива) в пандас
my_series_1 = pd.Series([1,2,3], index=["Cersei", "Tywin", "Gregor"])
my_series_2 = pd.Series([4,5,6], index=["Cersei", "Tywin", "Gregor"])

In [7]:
#Создание датафрейма из двух серий
pd.DataFrame({'col_name_1': my_series_1, 'col_name_2': my_series_2})

        col_name_1  col_name_2
Cersei           1           4
Tywin            2           5
Gregor           3           6